body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,88,205,1) 0%, rgba(0,212,255,1) 100%);
}

.app-holder {
    margin: 20px auto 0;
}

.col {
    display: inline-block;
    vertical-align: middle;
}

.row {
    display: block;
}

.error-message {
    padding: 20px;
    background-color: #c44;
    border-radius: 20px;
    box-shadow: 0 0 30px #35353e;
    display: block;
    margin: 0 auto;
    width: 400px;
    max-width: 90%;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 5px black;
}

#weather-app {
    display: block;
    margin: 0 auto;
    background-color: #4a4848;
    text-align: center;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 30px #35353e;
    border: 1px solid #35353e;
    border-radius: 20px;
}

.today {
    width: 100%;
    display: block;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
    background-color: #35353e;
    text-shadow: 0 0 5px black;
}

.today .degree {
    width: 150px;
}

.today .max {
    font-size: 28px;
}

.location {
    font-size: 20px;
}

.hide {
    display: none;
}

.history {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.history li{
    width: 100%;
    list-style: none;
    padding: 5px 0;
    border-top: 1px solid #35353e;
    text-shadow: 0 0 5px black;
}

.day {
    font-size: 25px;
    width: 70px;
}

.date {
    font-size: 20px;
    padding: 0 10px;
    width: calc(100% - 180px);
    text-align: left;
}

.degree {
    width: 70px;
}

.max {
    color: #c44;
}

.min {
    color: #07e9fb;
}
